<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="ios-apps"></ion-icon>
      <h5>Menu</h5>
    </button>
    <ion-title>Weather Today</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<iframe src="https://www.powr.io/plugins/weather/view?unique_label=0cf671fa_1538916916&external_type=iframe"  frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox" style="width: 390px;height: 1300px"></iframe><div></div>
 

        <ion-item>
          <ion-label>ลมทางภาคเหนือ</ion-label>
          <ion-toggle [(ngModel)]="WindNorth"></ion-toggle>
        </ion-item>
        <ion-card *ngIf = "WindNorth">
            <ion-card-header>
              <ion-title>ลมทางภาคเหนือ</ion-title>
            </ion-card-header>
            <ion-card-content>
              <iframe src="https://earth.nullschool.net/#current/wind/surface/level/orthographic=-260.87,17.71,3000/loc=99.195,18.044"height="400" width="300"frameborder="0"scrolling="no"align="left">
              </iframe>
            </ion-card-content>
          </ion-card>

            <h2>ภาคเหนือ</h2>
            <p><button ion-button full (click)="openNorthPage()" >สภาพอากาศ (ภาคเหนือ)</button></p>    
        

      <ion-item>
          <ion-label>ลมภาคกลาง-ตะวันออก</ion-label>
          <ion-toggle [(ngModel)]="WindCenter"></ion-toggle>
        </ion-item>
        <ion-card *ngIf="WindCenter">
            <ion-card-header>
              <ion-title>ลมภาคกลาง-ตะวันออก</ion-title>
            </ion-card-header>
            <ion-card-content>
                <iframe src="https://earth.nullschool.net/#current/wind/surface/level/orthographic=-259.51,13.07,3000/loc=100.354,13.632"height="400" width="300"frameborder="0"scrolling="no"align="left">
                </iframe>
            </ion-card-content>
          </ion-card>
            <h2>ภาคกลาง-ตะวันออก</h2>
            <p><button ion-button full (click)="openCentralPage()">สภาพอากาศ (ภาคกลาง)</button></p>    
            <p><button ion-button full (click)="openEastPage()">สภาพอากาศ (ภาคตะวันออก)</button></p> 

            <ion-item>
                <ion-label>ลมภาคตะวันออกเฉียงเหนือ</ion-label>
                <ion-toggle [(ngModel)]="WindNorthEast"></ion-toggle>
              </ion-item>
              <ion-card *ngIf="WindNorthEast">
                  <ion-card-header>
                    <ion-title>ลมภาคตะวันออกเฉียงเหนือ</ion-title>
                  </ion-card-header>
                  <ion-card-content>
                      <iframe src="https://earth.nullschool.net/#current/wind/surface/level/orthographic=-257.17,16.53,3000/loc=103.016,16.430"height="400" width="300"frameborder="0"scrolling="no"align="left">
                      </iframe>
                  </ion-card-content>
                </ion-card>

            <h2>ภาคตะวันออกเฉียงเหนือ</h2>
            <p><button ion-button full (click)="openNorthEastPage()">สภาพอากาศ (ภาคตะวันออกเฉียงเหนือ)</button></p>

            <ion-item>
                <ion-label>ลมภาคใต้</ion-label>
                <ion-toggle [(ngModel)]="WindSouthern"></ion-toggle>
              </ion-item>
              <ion-card *ngIf = "WindSouthern" >
                  <ion-card-header>
                    <ion-title>ลมภาคใต้</ion-title>
                  </ion-card-header>
                  <ion-card-content>
                      <iframe src="https://earth.nullschool.net/#current/wind/surface/level/orthographic=-260.09,8.21,3000/loc=99.910,7.928"height="400" width="300"frameborder="0"scrolling="no"align="left">
                      </iframe>
                  </ion-card-content>
                </ion-card>

            <h2>ภาคใต้</h2>
            <p><button ion-button full (click)="openSouthernPage()">สภาพอากาศ (ภาคใต้)</button></p> 
        
       
      
     
   
  
  

  
</ion-content>
